@import "bootstrap-sprockets";
@import "bootstrap";

.panel-heading {
  cursor: pointer;

  .glyphicon {
    color: #bbb;
    text-shadow: 0 1px 0 white;
  }
}

.progress {
  -webkit-transition: height 1s;
  border-radius: 0;
  height: 10px;

  &.done .progress-bar {
    background-color: $brand-success;
    width: 100% !important;
  }

  &.collapsed {
    height: 0;
  }
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  display: none;
}

#dropzone {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 10px;
  border: 2px dashed #ccc;
  padding-top: 20vh;

  &.dragging {
    border-color: $brand-success;
  }

  ~ .progess {
    display: none;
  }

  ~ .github-ribbon {
    display: block;
  }
}
