@import "bootstrap-sprockets";
@import "bootstrap";

.panel-heading {
  cursor: pointer;
  position: relative;

  strong {
    display: inline-block;
    max-width: 90%;
  }

  .glyphicon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
    color: #bbb;
    text-shadow: 0 1px 0 white;
  }
}

.progress {
  border-radius: 0;
  height: 10px;

  -webkit-transition: height 1s;
  -moz-transition:    height 1s;
  transition:         height 1s;

  .progress-bar {
    background-color: $brand-info;
  }

  &.done .progress-bar {
    background-color: $brand-success;
    width: 100% !important;
  }

  &.collapsed {
    height: 0;
  }
}

#output {
  float: left;
  padding: 2vh 40px;
  height: 96vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;

  .panel {
    width: 300px;
    margin-right: 20px;
  }

  .end-pad {
    width: 40px;
    height: 100vh;
  }
}

.list-group-item-success {
  text-decoration: line-through;
}

.album-year {
  color: rgba(0,0,0,0.5);
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

#landing,
#dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#landing {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-top: 10vh;

  header {
    h1 {
      font-size: 3.5em;
      margin-bottom: 0;
    }

    p {
      font-size: 2em;
      color: $gray-light;
    }
  }

  &.dragging {
    border-color: $brand-success;
  }

  ~ .progress {
    display: none;
  }
}

.instructions {
  margin-top: 320px;
  margin-bottom: 50px;
  font-size: 1.5em;
  line-height: 1.6;

  span {
    display: block;
  }

  .lib-path {
    word-break: break-all;
  }
}

.drop-ring, .drop-icon {
  width: 260px;
  height: 260px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -130px;
}

.drop-ring {
  border: 2px dashed lighten($brand-primary, 30%);
  border-radius: 50%;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s;
  -moz-transition:    width 0.5s, height 0.5s, margin 0.5s;
  transition:         width 0.5s, height 0.5s, margin 0.5s;
}

#landing.dragging .drop-ring {
  border-color: $brand-success;
  width: 270px;
  height: 270px;
  margin-left: -135px;
  margin-top: 15px;

  -webkit-animation: spin 20s linear infinite;
  -moz-animation:    spin 20s linear infinite;
  animation:         spin 20s linear infinite;
}

@-moz-keyframes    spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes         spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.drop-icon {
  img {
    margin-top: 4%;
    height: 85%;
  }
}

.drop-ring {
  position: absolute;
}

.about {
  color: $gray-light;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  background-color: white;
}
