= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
%script window.jQuery || document.write('<script src="/#{config.js_dir}/jquery-1.7.1.min.js"><\/script>');
= javascript_include_tag "application"
