!!! 5
%html{ lang: "en-gb" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "initial-scale=1.0, width=device-width" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %title Discographer

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    .progress
      .progress-bar#progress
    .container#output
      .row
        .col-sm-10.col-sm-offset-1
          .jumbotron.text-center
            %h1 Discographer
            :markdown
              Discographer lists the back catalogues of artists in your iTunes library and highlights the ones you own.

              Never miss an album by your favourite band!

            %input#file-input{ type: "file" }

          :markdown
            Discographer assumes your library is managed by iTunes, with albums sorted into folders by artist at `~/Music/iTunes/iTunes Media/Music`.

            Albums are fetched through the [Spotify API](https://developer.spotify.com/web-api/). Add a `data/config.yml` based on the example to specify a country code for album availability (defaults to `US`). You can optionally supply [Spotify API credentials](https://developer.spotify.com/my-applications/) to improve speed.
